
stages:
  - test

unit-tests:
  stage: test
  image: python:3.12
  tags:
    - docker
  script:
    - python -m pip install --upgrade pip
    - pip install -r requirements.txt
    - python todolist_project/manage.py test todolist_project
