workflow:
  rules:
    - if: $CI_COMMIT_TAG
    - when: never

stages:
  - test

unit-tests:
  stage: test
  image: python:3.12
  script:
    - python -m pip install --upgrade pip
    - pip install -r requirements.txt
    - python todolist_project/manage.py test todolist_project
