# =========================
# Python
# =========================

__pycache__/
*.pyc


# =========================
# Django
# =========================
db.sqlite3

# =========================
# Environment / Secrets
# =========================
.env
.env.*

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

!**/.env.example
.sonar

venv