name: Build and Publish Docker Image (on Release)

on:
  release:
    types: [published]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        #env:
        #  DJANGO_SETTINGS_MODULE: config.settings
        run: |
          python todolist_project/manage.py test todolist_project

  sonar-sast-tests:
    runs-on: ubuntu-latest
    needs: unit-tests

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}


  build-and-push-ci:
    runs-on: ubuntu-latest
    needs: sonar-sast-tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64
          tags: |
            zeguimoko/django_todolist:latest
            zeguimoko/django_todolist:${{ github.event.release.tag_name }}
          cache-from: type=registry,ref=zeguimoko/django_todolist:buildcache
          cache-to: type=registry,ref=zeguimoko/django_todolist:buildcache,mode=max
    
    
  deploy-to-server-cd:
    runs-on: ubuntu-latest
    needs: build-and-push-ci

    steps:
      - name: Prepare SSH key
        run: |
            mkdir -p ~/.ssh
            echo "${{ secrets.DO_SSH_PRIVATE_KEY_B64 }}" | base64 -d > ~/.ssh/id_key
            chmod 600 ~/.ssh/id_key
      - name: Deploy via SSH (docker compose pull && up -d)
        run: |
            ssh -i ~/.ssh/id_key -o StrictHostKeyChecking=no ${{ secrets.DO_USER }}@${{ secrets.DO_HOST }} << 'EOF'
            set -euo pipefail
            cd "${{ secrets.DO_APP_PATH }}"
            docker compose pull
            docker compose up -d --remove-orphans
            docker compose ps
            docker image prune -f
            EOF